venv/
.DS_Store
__pycache__/
*.kra
*~
assets/old_assets/
BarrelDeformer.py
Untitled-1
assets/anim_1.gif.log
assets/anim_2.gif.log
forreference.txt
interface_old.py
log_2.txt
log_3.txt
messages.txt
nle_data/
pygame_key_testing.py
test_copy.py
test_min.py
translated_matrix.txt